

.container{
    background-color: black;
}

header{
    background-color: black;
}

.logo img{
    width: 150px;
    margin: 10px;
    
}

.container_menu{
    display: flex;
    justify-content: space-between;
}

.menu{
    display: flex;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li a{
    color: white;
    padding: 10px;
}